.product-card__to-cart-button {
    margin-top: 16px;

    width: 100%;
    height: 48px;

    background-color: var(--LightGreen);

    transition: background-color 0.2s;
}

.product-card__to-cart-button:hover {
    background-color: var(--Green);
    cursor: pointer;
}

.product-card__to-cart-button:active {
    transition: none;
    background-color: var(--DarkGreen);
    cursor: pointer;
}

@media screen and (min-width: 40rem) {
    .product-card__to-cart-button {
        margin-top: 26px;
    }
}

@media (prefers-reduced-motion: reduce) {
    .product-card__to-cart-button {
        transition: none;
    }
}