.info-section__description {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;

    color: var(--Grey);

    margin-top: 16px;
}

@media screen and (min-width: 40rem) {
    .info-section__description {
        margin-top: 24px;
    }
}