.info-section__title {
    font-family: Fraunces;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;

    color: var(--Black);

    margin-top: 12px;
}

@media screen and (min-width: 40rem) {
    .info-section__title {
        margin-top: 20px;
    }
}