.button {
    border: none;
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;

    color: var(--White);
}