:root {
    --LightGreen: hsl(158, 36%, 37%);
    --Green: hsl(158, 42%, 18%);
    --DarkGreen: hsl(158, 42%, 12%);
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
}